<div class="mt-5">
  <h1 class="text-center"><%= @result %></h1>
  <% if @result == "Faux, retente ta chance !" %>
    <div class="text-center">
      <%= link_to "Réessayer", movie_path(@movie.id), class:"btn btn-danger" %>
    </div>
  <% else %>
    <br>
    <h1 class="text-center"><%= @movie.answer %></h1>
  <% end %>
</div>

<hr>

<div class="text-center mt-5">
  <%= link_to "« Retour à la liste des films", movies_path, class:"btn btn-info" %>
  <%= link_to "Voir un autre film »", movie_path(Movie.in_game.only_non_answered(current_or_guest_user).sample.id), class:"btn btn-success" %>
</div>