<h1 class="text-center my-5">Liste des films</h1>


<div class="text-center">
  <% if @user.join_user_movies.count == Movie.all.count %>
    <h1><%= "Bravo tu as tout trouvé ! Tu es un(e) super cinéfile " %></h1>
  <% else %>
    <h3 class="text-center my-5"><i class="far fa-star"></i> Film(s) Trouvé(s) : <%= @user.join_user_movies.count %> / <%= Movie.all.count %></h3>
  <% end %>
</div>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Films à trouver</th>
      <th>Réponses</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= link_to "Répondre", movie_path(movie.id) unless @user.join_user_movies.find_by(movie_id: movie.id) != nil %></td>
        <td><%= movie.emojis %></td>
        <td>
          <% if @user.join_user_movies.find_by(movie_id: movie.id) != nil %> 
            <b><i class="far fa-star"></i> <%= movie.answer %></b> 
          <% else %>
            <%= "Pas encore trouvé" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
