<h1 class="h3 mt-5 font-weight-normal text-center border-bottom pb-3">Trouvez le titre du film suivant :</h1>
<h1 class="my-5 text-center"><%= @movie.emojis %></h1>
<br>

<%= form_with(url: movies_path, method: 'post', local: true) do |f|%>
    <%= f.hidden_field :id, value: @movie.id %>

  <div class="form-group">
    <%= f.text_field :user_answer, required: true, autofocus: true, class: "form-control", placeholder: "Votre réponse" %>
  </div>

  <div class="actions my-5 mb-3 text-center">
    <%= submit_tag "Répondre",class: "btn btn-lg btn-dark" %>
  </div>
  <hr>
    <div class="mt-5 mb-3 text-center">
      <%= link_to "« Retour à la liste des films", movies_path, class:"btn btn-info" %>
    </div>
<% end %>


